<!-- FOOTER -->
    

    <footer class="bg-dark text-white text-center mt-5 p-4">
      <h5>🔬 ResearchHub</h5>

      <p>Central Digital Repository for BS, MS & PhD Research</p>

      <p class="mb-0">© 2026 ResearchHub | All Rights Reserved</p>
    </footer>